:root{
    --color-primary:rgb(7, 7, 175);
    --color-secondary: rgb(124, 37, 206);

    --spacing: 16px;
}

h1{
    color: var(--color-primary)
}

h2{
    color: var(--color-secondary);
    margin: var(--spacing);
}

p{
    color: var(--color-primary)
}

button{
    background-color: var(--color-primary);
    color: white;
}