a{
    color: red;
}

a:hover{
    color: green;
    font-weight: bold;
}

a:hover + .caixa{
    display: block;
}

a:visited{
    color: yellow;
}

a:active{
    color: pink;
}

.caixa{
    display: none;
    width: 150px;
    height: 150px;
    background: black;
}

.caixa:hover{
    width: 10px;
    height: 10px;
    background-color: violet;
}

ul li:first-child{/*não ira precisar criar uma classe na primeira li*/
    color: red;
}

ul li:last-child{
    color: blue;
}

.exemplo1 p:last-child{
    color: red;
}

.exemplo2 p:nth-child(5){
    color: orange;
}
