*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.logo{
    text-align: center;
    color: white;
    padding: 20px;
}

.logo img{
    margin-top: 80px;
}

.logo h1{
    font-size: 80px;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.logo h2{
    font-size: 30px;
    word-spacing: 4px;
    letter-spacing: 3px;
    margin-bottom: 60px;
}

.main{
    text-align: center;
    color: white;
}

.main h1{
    margin-bottom: 20px;    
}

.nomeemail input{
    width: 700px;
    height: 40px;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 10px;
    font-size: 25px;
}
.check{
    width: 60px;
    height: 30px;
    
}


button{
    width: 730px;
    height: 50px;
    padding: 15px;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
}

button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062
  }


